/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi+Fun:wght@400;500;600;700&display=swap');


/* COLOR VARIABLES */
:root {
  --color1: #FFFFFF;
  --color2: #E7F6F2;
  --color3: #395B64;
  --color4: #2C3333;
}

/* ELEMENT SELECTORS */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

input[type=number]::-webkit-inner-spin-button {
  opacity: 1;
}

body {
  font-family: 'Reem Kufi Fun', sans-serif;
}

/* CLASS SELECTORS */
.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  height: 100vh;
}

.side-container {
  background-color: var(--color3);
  color: var(--color2);
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem 1rem;
}

.form-container {
  display: flex;
}


.title {
  font-size: 1.5rem;
  letter-spacing: 6.5px;
}

.user-input {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  width: 100%;

}

.title-input,
.author-input,
.pages-input{
  display:flex;
  flex-direction: column;
  gap:.75rem;
 
}

.title-input label,
.author-input label,
.pages-input label{
  margin-left: 5px;
}


.title-input input,
.author-input input,
.pages-input input{
  width:90%;
  font-size: 1.25rem;
  background-color: var(--color1);
  color: var(--color4);
  border: 3px solid var(--color4);
  border-radius: 5px;
  outline: none;
  padding:5px;
  caret-color: var(--color3);
}

.library-container {
  background-color: var(--color2);
  position: relative;
}

.reading-log-container{
  width: 100%;
  height:100px;
  position: relative;
  color: var(--color4);
}

.my-books-title{
  position: absolute;
  bottom: 0;  
  left: 50%;
  transform: translate(-50%, -50%);
  border-bottom: 2px solid var(--color4);
}

.empty-container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  letter-spacing: 2px;
}

.hide{
  display: none;
}

.my-books{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  padding: 2rem;
  gap: 2rem;

}


.card{
  position: relative;
  font-size: 1.10rem;
  font-weight: lighter;
  height: 300px;
  background-color: var(--color1);
  background-image: linear-gradient(var(--color1), rgb(230, 230, 230));
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.85);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: .5rem;
  border: 5px solid var(--color3);
  border-style: outset;
}

.card p:first-of-type {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 5rem;
  border-bottom: 1px solid var(--color4);
}

.delete{
  position: absolute;
  bottom: 15px;
  right: 20px;
  scale: 1.25;
  cursor: pointer;
  transition: 0.2s ease;
}

.delete:hover{
  color: var(--color3);
  scale:1.5;
}



#btn-add{
  font-family: inherit;
  font-size: 1.25rem;
  padding: .5rem;
  color: var(--color3);
  background-color: var(--color2);
  border: 2px solid var(--color4);
  border-radius: 5px;
  transition: 0.25s ease;
  cursor: pointer;
}

#btn-add:hover{
  background-color: var(--color4);
  color: var(--color2);
}

#btn-add:active{
  scale:.95;
}